!!! 5
%html{lang: I18n.locale}
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport; charset=utf-8"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "rails_admin/rails_admin.css", media: :all
    = javascript_include_tag "rails_admin/rails_admin.js"
    -# Initialize JS simple i18n
    :javascript
      RailsAdmin.I18n.init('#{I18n.locale}', JSON.parse("#{j I18n.t("admin.js").to_json}"))

  %body.rails_admin

    %nav.admin-navbar.admin-navbar-fixed.bg-red{:role => "navigation"}
      = render "layouts/rails_admin/navigation"

    .admin-menubar.admin-menubar-fixed.admin-menubar-dark
      .toolbar
        = render "layouts/rails_admin/sidebar_navigation"
      .admin-menubar-footer
        = render "layouts/rails_admin/footer_navigation"

    %main.admin-content
      .admin-wrapper
        .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'

    %footer.admin-footer
      = render "layouts/rails_admin/footer"

    -#%nav.navbar-hancock.navbar-fixed
    -#  = render "layouts/rails_admin/navigation"
    -#
    -#%main.root
    -#  .sidebar.fixed-sidebar
    -#    .sidebar-backdrop
    -#    .toolbar
    -#      = render "layouts/rails_admin/sidebar_navigation"
    -#
    -#  .content-wrapper
    -#    .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
    -#
    -#%footer.footer
    -#  = render "layouts/rails_admin/footer"

  -#%body.rails_admin
  -#  #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
  -#  %nav.navbar.navbar-default.navbar-fixed-top
  -#    = render "layouts/rails_admin/navigation"
  -#
  -#  .menu-bar
  -#    = render "layouts/rails_admin/sidebar_navigation"
  -#
  -#  .page-content
  -#    .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
  -#
  -#
  -#
  -#  #status-bar

    -#.container-fluid
    -#  .row
    -#    .col-sm-3.col-md-2.sidebar-nav.hancock-nav
    -#      = render "layouts/rails_admin/sidebar_navigation"
    -#    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.sidebar-content
    -#      .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
