!!! 5
%html{lang: I18n.locale}
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport; charset=utf-8"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "rails_admin/rails_admin.css", media: :all
    = javascript_include_tag "rails_admin/rails_admin.js"
    -# Initialize JS simple i18n
    :javascript
      RailsAdmin.I18n.init('#{I18n.locale}', JSON.parse("#{j I18n.t("admin.js").to_json}"))

  %body.rails_admin
    #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    %nav.admin-navbar.admin-navbar-fixed.bg-red{:role => "navigation"}
      = render "layouts/rails_admin/navigation"

    .admin-menubar.admin-menubar-fixed.admin-menubar-dark
      = render "layouts/rails_admin/sidebar_navigation_filter"
      .toolbar
        = render "layouts/rails_admin/sidebar_navigation"
      .admin-menubar-footer
        = render "layouts/rails_admin/footer_navigation"

    %main.admin-content
      .admin-wrapper
        .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'

    %footer.admin-footer
      = render "layouts/rails_admin/footer"
