<h2><%= t('.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mui-textfield mui-textfield--float-label">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :email %>
  </div>

  <div class="field mui-textfield mui-textfield--float-label">
    <%= f.password_field :password, autocomplete: "current-password" %>
    <%= f.label :password %>
  </div>

  <div class="actions">

    <% if devise_mapping.rememberable? %>
        <div class="field mui-checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
    <% end %>

    <%= f.submit t('.sign_in'), class: "mui-btn mui-btn--raised mui-btn--primary"%>

  </div>
<% end %>

<%= render "devise/shared/links" %>